html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	overflow-x: hidden;
}
header{
	width: 100vw;
	height: 100vh;
	background: #0C73D1;
}
nav{
	width: 100vw;
	height: 25.2vh;
	display: flex;
	height: 6.3vw;
	flex-direction: row;
	align-items: center;
}
a{
	color: #FFFFFF;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5vw;
	line-height: 2.10vw;
	margin-right: 8.1vw;
	margin-top: 2%;
}
.p1{
	margin-left: 12.4vw;
}
/*1372*/
.cont img{
	width: 92vw;
	height: 78vh;
	margin-left: 3.6%;
	margin-top: 1.3vw;
	border: solid #1B1987 0.4vw;
}
.cont1{
	display: none;
}
.cont a{
	display: none;
}
nav img{
	width: 20.4vw;
	height: 9.10vw;
	margin-left: 3.6%;
}
.f1{
	width: 5px;
	height: 80px;
	background: #1B1987;
}
a:hover{
	font-size: 2.7vw;
	transition: all 0.4s ease;
}
#two{
	width: 100vw;
	height: 100vh;
	background: #0C73D1;
}
h1{
	display: flex;
	font-size: 3.8vw;
	color: #FFFF;
	align-items:center;
	justify-content: center;
}
.f1{
	width: 31vw;
	height: 32vw;
	margin-left: 11vw;
	margin-top: 1.3vw;
	background: #FFFFFF;
	border: solid 0.3vw #1B1987;
}
.r1{
	width: 31vw;
	height: 32vw;
	border: solid 0.3vw #1B1987;
	margin-left: 11vw;
	margin-top: 1.3vw;
}
.s1{
	display: flex;
	flex-direction: row;
}
.f1 p{
	margin-left: 1vw;
	color: #1B1987;
	font-size: 1.2vw;
}
