html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
p{
	margin: 0;
}
header{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right top, #00f0e6, #22eaed, #3de5f1, #54def3, #68d8f2, #48ccf5, #25bff8, #00b1fa, #0095ff, #0076ff, #0052fc, #180fe7); 
}
.cont img{
	width: 48%;
	margin-left: 50px;
}
nav{
	width: 100%;
	display: flex;
	height: 120px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.menu-item:nth-child(1){
	flex-grow: 1;
	margin-left: 100px;
	font-size: 35px;
}
.menu-item{
	font-size: 20px;
	margin-right: 110px;
	color: #FFFFFF;
	
}
.cont{
	display: flex;
	width: 98%;
	height: 400px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
h1{
	color: #FFFFFF;
	font-size: 35px;
}
p{
	font-size: 25px;
	color: #2844EE;
	font-family: 'Play', sans-serif;
}
a:hover{
	background: #FD75FF;
	transition: all 0.5s ease;
	color: #0B3ECF;
}
a{
	margin-right: 30px;
	font-size: 25px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	border: solid 1px #2844EE;
	border-radius: 30px;
	line-height: 60px;
	width: 210px;
	margin-top: 20px;
	display: inline-block;
}

section{
	width: 100vw;
	height: 99vh; 
	background:#12A9CF;
}
h2{
	margin: 0;
	font-size: 70px;
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 48px;
}
.flex{
	display: flex;
	justify-content: center;
	width: 100%;
	font-weight: bold;
}
.offer{
	width: 95%;
	margin: 0 auto;
	margin-top: 7vw;
	display: flex;
	flex-direction: row;
	color: #00EFCA;
}
.offer div{
	padding: 1vw;
	text-align: center;
	width: 20vw;
	height: 20vw;
	border: solid 2px #2844EE;
	margin-right: 2vw;
	margin-top: 10px;
	background: white;
}
.offer p{
	font-size: 1.4vw;
	margin-top: 10px;
}
.offer img{
	width: 150px;
}
.flex p{
	margin-top: 70px;
}
.flex1 img{
	width: 100px;
	height: 100px;
	margin-left: 300px;
	display: flex;
}
.flex p{
	margin-top: 0px;
}
.flex img{
	width: 800px;
	height: 200px;
}
#third{
	position: relative;
	background: #17F6D4;
}
#third h2{
	text-align: center;
}
.brend{
	width: 14%;
	position: absolute;
	transition: transform 0.4s ease;
}
.brend:nth-of-type(1){
	width: 17%;
	top:20%;
	left:10%;
}

.brend:nth-of-type(2){
	top:40%;
	left:25%;
}
.brend:nth-of-type(3){
	top:75%;
	left:50%;
	margin-left: -8.5%; 
}
.brend:nth-of-type(4){
	top:40%;
	right:25%;
}
.brend:nth-of-type(5){
	top:22%;
	right:11%;
}
.brend:hover{
	transform: scale(1.1);
}


